#landingPage{
	/*Avoid horizontal scrollbar*/
	width: 100%;
	height: 45vh;

	display: flex;
	/*justify-content: center;*/
	/*align-items: left;
	text-align: left;*/
	color: white;
	overflow-x:hidden;
    overflow-y:hidden;

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://i.ibb.co/gzt8mpJ/getty-499517325-125245.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 300px;
    min-width: 300px;
}



#landingText{
    font-size: calc(1.5em + 2.5vw);
}

.card{
	border:none;
}

.btn-info{
  border:none;
}

#coursesHero{
	/*Avoid horizontal scrollbar*/
	width: 100%;
  height: 45vh;

	display: flex;
	/*justify-content: center;*/
	/*align-items: left;
	text-align: left;*/
	color: white;
	overflow-x:hidden;
    overflow-y:hidden;

	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://static.vecteezy.com/system/resources/thumbnails/000/101/237/original/free-abstract-background-11.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 300px;
    min-width: 300px;
}

#aboutHero
{
    /*Avoid horizontal scrollbar*/
    width: 100%;
    height: 45vh;

    display: flex;
    /*justify-content: center;*/
    /*align-items: left;
    text-align: left;*/
    color: white;
    overflow-x:hidden;
    overflow-y:hidden;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(https://png.pngtree.com/thumb_back/fh260/background/20190828/pngtree-dark-vector-abstract-background-image_302715.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 300px;
    min-width: 300px;
}


.card-footer {
    padding: 0;
}
.brand:hover{
     transform: scale(1.3);
  box-shadow: 0 0px 0px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0, 0);
}

#courseCard{
    background-color: #DCDCDC;
}


 /*.carousel { 
 width:50%; 
 height:20vh; 
 } */

 @media (max-width: 100%) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: flex;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

@media (min-width: 100%) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}



/*navbar*/

 @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
            background: #1C2331!important;
            }
        }
.view,body,html{height:100%}
.navbar{background-color:rgba(0,0,0,.7)}
.top-nav-collapse{background-color:#1C2331}

@media only screen and (max-width:768px){
.navbar{background-color:#1C2331}
}

/*.footer{
    width: 100%;
    background-color: #38405F;
}*/

.btn{
    color: white;
    background-color: #2d5b6b;
}

.site-footer
{
  background-color:#26272b;
  padding:15px 0 10px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}